@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new engineer</h4>

<p><strong>NOTE:</strong> You need to have at least one category before you can add an item!</p>
<p>Go to @Html.ActionLink("this page", "Create", "Categories") to create a category.</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <br>
   @Html.LabelFor(model => model.MachineLicense)
    @Html.DropDownListFor(model => model.MachineLicense, new List<SelectListItem>
    {
        new SelectListItem { Text = "Type A", Value = "Type A" },
        new SelectListItem { Text = "Type B", Value = "Type B" },
        new SelectListItem { Text = "Type C", Value = "Type C" }
    })
  <br>
  <input type="submit" value="Add new Engineer" />
}
<p>@Html.ActionLink("Show all engineers", "Index")</p>