@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayFor(model => model.Name): @Html.DisplayFor(model => model.MachineLicense)</h3>  

@if (@Model.EngineerMachineEntities.Count == 0)
{
  <h3> --no machines have been added to this engineer yet-- </h3>
} 
else
{
  @* <h3>Machines:</h3>
  <ul>
    @foreach (EngineerMachineEntity join in Model.EngineerMachineEntities)
    {
      <li>@join.Machine.Type - @join.Machine.RequiredLicense</li>
    }
  </ul> *@


// not working below
  
  <h4>Machines:</h4>
  <ul>
    @foreach(EngineerMachineEntity join in Model.EngineerMachineEntities)
    {
      <li>Machine: @join.Machine.Type - @join.Machine.RequiredLicense</li>
      @using (Html.BeginForm("DeleteJoin", "Engineer"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineEntityId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}


<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Edit engineer or machine", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId })</p>