@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add a new machine</h4>

<p>@Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)
  <br>
  @Html.LabelFor(model => model.RequiredLicense)
  @Html.DropDownListFor(model => model.RequiredLicense, new List<SelectListItem>
    {
        new SelectListItem { Text = "Type A", Value = "Type A" },
        new SelectListItem { Text = "Type B", Value = "Type B" },
        new SelectListItem { Text = "Type C", Value = "Type C" }
    })

  <br>
  <input type="submit" value="Add new Machine"/>
}
<p>@Html.ActionLink("Show all machines", "Index")</p>