@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add a new machine</h4>

<p><strong>NOTE:</strong> You need to have at least one category before you can add an item!</p>
<p>Go to @Html.ActionLink("this page", "Create", "Categories") to create a category.</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)
  <br>
  @Html.LabelFor(model => model.RequiredLicense)
  @Html.DropDownListFor(model => model.RequiredLicense, new List<SelectListItem>
    {
        new SelectListItem { Text = "Type A", Value = "Type A" },
        new SelectListItem { Text = "Type B", Value = "Type B" },
        new SelectListItem { Text = "Type C", Value = "Type C" }
    })

  @* @Html.LabelFor(model => model.Machine)
  @Html.DropDownList("MachineId") *@
  <br>
  <input type="submit" value="Add new Machine"/>
}
<p>@Html.ActionLink("Show all machines", "Index")</p>