@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h2>Machine Details</h2>
<hr />
<h3>@Html.DisplayFor(model => model.Type): @Html.DisplayFor(model => model.RequiredLicense)</h3>  

@if (@Model.EngineerMachineEntities.Count == 0)
{
  <h3> --No Engineers have been added to this machine yet-- </h3>
} 
else
{

  <h4>This item has the following tags:</h4>
  <ul>
    @foreach(EngineerMachineEntity join in Model.EngineerMachineEntities)
    {
      <li>Egineer: @join.Engineer.Name</li>
      @using (Html.BeginForm("DeleteJoin", "Machine"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineEntityId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Add an Engineer", "AddEngineer", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Edit engineer or machine", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</p>